@tailwind base;
@tailwind components;
@tailwind utilities;

#listener-tab{
  background-color: #0b031f;
}

.leaflet-container{
    height: 50vh;
  }
  
  .map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
  }